{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}DH2OCOL{% endblock %}</title>
    <!-- Agrega más metadatos si son necesarios -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header>
      <img src="{% static 'img/logo2.png' %}" alt="Logo" class="logo" />
      <!-- Puedes agregar más contenido al encabezado si es necesario -->
    </header>

    <div class="container">{% block content %} {% endblock %}</div>

    <footer>
      <div class="footer-content">
        <div class="redes-sociales">
          <!--<h2>Síguenos en nuestras redes sociales</h2>-->
          <a
            href="https://www.instagram.com/dh2ocol/"
            class="enlace-red-social"
          >
            <img
              src="{% static 'img/instagram-icon.png' %}"
              alt="Instagram"
              class="logo-red-social"
            />
          </a>
          <a href="https://wa.me/3157484662" class="enlace-red-social">
            <img
              src="{% static 'img/icon-whatsapp.png' %}"
              alt="WhatsApp"
              class="logo-red-social"
            />
          </a>
          <a href="https://www.facebook.com/dh2ocol/" class="enlace-red-social">
            <img
              src="{% static 'img/facebook-icon.png' %}"
              alt="Facebook"
              class="logo-red-social"
            />
          </a>
          <a href="https://dh2o.com.co/" class="enlace-red-social">
            <img
              src="{% static 'img/web-icon.png' %}"
              alt="Web"
              class="logo-red-social"
            />
          </a>
          <a
            href="https://www.tiktok.com/@dh2ocol"
            class="enlace-red-social me-3"
          >
            <img
              src="{% static 'img/logo_tiktok.png' %}"
              alt="TikTok"
              class="logo-red-social"
            />
          </a>
          <!-- Puedes agregar más redes sociales si es necesario -->
        </div>
      </div>
    </footer>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Asegúrate de incluir los scripts necesarios -->
  </body>
</html>
