{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Detalle del Cliente</h2>

  <div class="row">
    <div class="col-md-6">
      <h3>Información Personal</h3>
      <p><strong>Nombre:</strong> {{ cliente.nombre }} {{ cliente.apellido }}</p>
      <p><strong>Tipo de Documento:</strong> {{ cliente.get_tipo_documento_display }}</p>
      <p><strong>Número de Documento:</strong> {{ cliente.numero_documento }}</p>
      <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
      <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
      <p><strong>Correo Electrónico:</strong> {{ cliente.correo }}</p>
    </div>
    <div class="col-md-6">
      <h3>Información Adicional</h3>
      <p><strong>Fecha de Creación:</strong> {{ cliente.creacion }}</p>
      <p><strong>Descripción:</strong> {{ cliente.descripcion }}</p>
      <p><strong>Última Limpieza:</strong> {{ cliente.ultima_limpieza }}</p>
      <p><strong>Próxima Limpieza:</strong> {{ cliente.proxima_limpieza }}</p>
    </div>
  </div>
</div>
{% endblock %}
