<!-- msm/templates/exito.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Éxito</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_exito.css' %}">
</head>
<body>
    <h1>Éxito</h1>
    <p>El mensaje ha sido enviado al número {{ telefono }}.</p>
    <p>Mensaje: {{ mensaje }}</p>

    <!-- Agrega el botón que te regresará a enviar_mensaje.html -->
    <button onclick="window.location.href='{% url 'enviar_mensaje' %}'">Enviar otro mensaje</button>
</body>
</html>
