{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <style>
    /* Estilos para los íconos de redes sociales */
    .social-icon {
      margin-right: 10px;
    }

    .social-icon img {
      width: 30px; /* Ajusta el tamaño según tus preferencias */
    }
  </style>
</head>
<body>
  <div class="logo-container">
    <!--<img src="{% static 'img/logo2.png' %}" alt="Logo">-->
  </div>
  <h2>Inicio de Sesion</h2>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% if form.errors %}
      <p class="errornote">Usuario o contraseña invalida:</p>
    {% endif %}
    <div class="form-row">
      <label for="{{ form.username.id_for_label }}" class="label-white">Username</label>
      {{ form.username }}
      {% if form.username.errors %}
        <ul class="errorlist">
          {% for error in form.username.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-row">
      <label for="{{ form.password.id_for_label }}" class="label-white">password</label>
      {{ form.password }}
      {% if form.password.errors %}
        <ul class="errorlist">
          {% for error in form.password.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    
    <div class="submit-row">
      <input type="submit" value="Iniciar sesión">
    </div>
  </form>
  <div class="reset_password-link">
    <a href="{% url 'reset_password' %}" class="forgot-password-link">¿Olvidaste tu contraseña?</a>
  </div>

  <footer>
    <!-- Pie de página -->
    <div class="social-media">
      <a href="https://www.facebook.com/tu-pagina-de-facebook" class="social-icon"><img src="{% static 'img/facebook-icon.png' %}" alt="Facebook"></a>
      <a href="https://wa.me/3157484662" class="social-icon"><img src="{% static 'img/icon-whatsapp.png' %}" alt="Twitter"></a>
      <a href="https://www.instagram.com/dh2ocol/" class="social-icon"><img src="{% static 'img/instagram-icon.png' %}" alt="Instagram"></a>
    </div>
    <p>Derechos reservados &copy;</p>
  </footer>
  
 </body>
 </html>
