{% extends 'base.html' %} {% load static %} {% block title %}Ventas Mensuales
{%endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/ventas_mensuales.css' %}" />
<h1>Informe de Ventas</h1>
<table>
  <thead>
    <tr>
      <th>Mes</th>
      <th>Ventas</th>
    </tr>
  </thead>
  <tbody>
    {% for venta in ventas_mensuales %}
    <tr>
      <td>{{ venta.1 }}</td>
      <td>{{ venta.2 }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">No hay ventas registradas</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button class="close-button" onclick="cerrarVentana()">Cerrar</button>
<script>
  function cerrarVentana() {
    console.log("Botón Cerrar clickeado");
    window.close();
  }
</script>
{% endblock %}
