/* factura.css */
.factura-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
}

.logo-img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.factura-card {
  border: 1px solid #ccc;
  padding: 20px;
  flex: 1;
}

.factura-title {
  margin-top: 0;
}

.factura-table {
  width: 100%;
}

.factura-table th, .factura-table td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}
