body {
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  background-image: url("/static/img/fondo.png"); /* Ruta a tu imagen de fondo */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Cambia a space-between para ajustar la ubicación del formulario y el pie de página */
  align-items: center;
  min-height: 100vh;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
}

/* Estilos para los íconos de redes sociales */
.social-icon {
  margin-right: 10px;
}

.social-icon img {
  width: 30px; /* Ajusta el tamaño según tus preferencias */
}



.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 150px;
  height: auto;
}

form {
  margin-bottom: 20px;
}

.errornote {
  color: #ffff;
  font-weight: bold;
}

.form-row {
  margin-bottom: 10px;
}

.form-row label {
  display: block;
  font-weight: bold;
  font-family: "Arial", Arial, Helvetica, sans-serif; /* Cambia la fuente según tus preferencias */
  font-size: 12px; /* Cambia el tamaño de fuente según tus preferencias */
  color: #ffff; /* Cambia el color de fuente según tus preferencias */
}

.form-row input[type="text"],
.form-row input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #008037;
  border-radius: 4px;
}

.submit-row {
  text-align: center;
}

.submit-row input[type="submit"] {
  background-color: #008037;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-row input[type="submit"]:hover {
  background-color: #1986c8;
}

.reset_password-link {
  text-align: center;
  margin-top: 10px;
}

.reset_password-link a {
  color: #447e9b;
  text-decoration: underline;
  color: #fff; /* Cambio de color a blanco */
}

.reset_password-link a:hover {
  color: #fff;
}

/* Estilos para el pie de página */
footer {
  background-color: transparent;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 12px; /* Ajusta el tamaño de fuente según tus preferencias */
  color: #fff;
}

