/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  page-break-inside: avoid;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Estilos para secciones específicas */
.report-header {
  text-align: center;
  margin-bottom: 40px;
}

.report-section {
  margin-bottom: 30px;
}

.report-section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.report-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.report-images img {
  width: 48%;
}

.report-date {
  font-style: italic;
  text-align: right;
  margin-top: 20px;
}

/* Media queries para ajustar el diseño en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  .report-images {
    flex-wrap: wrap;
  }

  .report-images img {
    width: 100%;
  }
}

.logo-img {
  width: 150px;
  max-width: 150%;
  height: auto;
  margin-bottom: 10px;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  margin-right: 10px;
}
